<div class="bird" style="@_birdCSS"></div>

@code {

    [Parameter] public BirdModel Model { get; set; }

    string _birdCSS => $"width: {Model.Width}px; height: {Model.Height}px; left: {Model.DistanceFromLeft}px; bottom: {Model.DistanceFromGround}px";

    protected override void OnParametersSet()
    {
        Model.PropertyChanged += (o, e) => StateHasChanged();
    }
}
